---
import BaseLayout from "../layouts/BaseLayout.astro";
import SermonHero from "../components/sermons/SermonHero.astro";
---

<BaseLayout title="Sermons | Irving College Baptist Church">
  <SermonHero />

  <section class="sermons-page">
    <div class="container">
      <div id="featured-sermon"></div>

      <h2 class="recent-title">Recent Messages</h2>

      <div id="sermon-grid" class="sermon-grid">
        <p>Loading sermons...</p>
      </div>
    </div>
  </section>

 <script>
  import "../scripts/sermons.js";
</script>
</BaseLayout>