<section class="events-section">
  <div class="section-container">
    <div class="section-heading">
      <p class="section-eyebrow">Stay Connected</p>
      <h2>Upcoming Events</h2>

      <p>
        Discover upcoming opportunities to worship, connect, grow, and serve
        with Irving College Baptist Church.
      </p>
    </div>

    <div class="events-embed">
    <script src="https://irvingcollege.churchcenter.com/assets/calendar_embed.js" data-view="list" data-height="auto"></script>
    </div>

    <div class="events-actions">
      <a
        href="https://irvingcollege.churchcenter.com/calendar"
        target="_blank"
        rel="noopener noreferrer"
        class="primary-button"
      >
        View Full Calendar
      </a>
    </div>
  </div>
</section>